footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}