* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #000000;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: auto; 
    margin-left: 0;
    padding: 0 20px; 
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    width: 50px; 
    height: auto;   
}

.logo-title p {
    color: white;
    font-size: 17px; 
    margin: 0;
    font-weight: bold;
}

/* Navigation styling */
nav {
    margin-left: auto; /* Pushes the nav to the right */
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav ul li a:hover {
    color: rgb(141, 141, 141);
}

/* Footer styles */
footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.circle-icon {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.circle-icon img {
    width: 30px; /* Adjust the size of the image */
    height: 30px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}

/* Flash Message ----------------------------------------------------------- */

#info {
    position: fixed;
    color: #fff;
    background: #666;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    left: 50%;
    translate: -50% 0;
    z-index: 999;

    top: 100px;
    opacity: 0;
}

#info:not(:empty) {
    animation: fade 3s;
}

@keyframes fade {
    0% {
        top: -100px;
        opacity: 0;
    }

    30% {
        top: 50px;
        opacity: 1;
    }

    70% {
        top: 50px;
        opacity: 1;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
}

